<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h1>Quora Post</h1>
    <% for(post of data ){ %>
<div class="posts">
    <h2 class="userName">@ <%= post.name%></h2>
    <p class="content">says: <%= post.postContent%></p>
    <p class="likeCount"> likes <%=post.likes  %> </p>
    <br>
    <form action="http://localhost:8080/posts/<%= post.id%>" method="get">
        <button>more deatil</button></form> 
    <form action="http://localhost:8080/posts/<%= post.id%>/edit"> 

    <button>edit deatil</button>
</form>  
    <form action="http://localhost:8080/posts/<%= post.id%>?_method=DELETE" method="post">
     
        <button>delete the detail</button>
    </form>
</div>
        <% } %>
<br>
<form action="/posts/new">
    <button>add new post</button>
</form>
</body>
</html>